@import '../settings/variables';


.services__prices {
  margin-bottom: 40px;

  @media (min-width: 768px) {
    margin-bottom: 0;
  }
}

.prices__swiper-container {
  overflow: auto;
  position: relative;
  width: 100%;
  height: 228px;
  margin: 0 auto;
  margin-bottom: 24px;

  @media (min-width: 768px) {
    display: none;
  }
}

.prices__swiper-wrapper {
  margin: 0;
  padding: 0;
}

.swiper-wrapper {
  .prices__swiper-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    height: 200px;
    border-radius: 6px;
    background: #FFF;
    padding: 16px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
}

.service-type__title {
  color: $dark_grey;
  font-size: 14px;
  font-weight: 500;
  opacity: 0.7;
  margin: 0;
  margin-bottom: 4px;
}

.service-price__title {
  color: $dark_grey;
  font-size: 14px;
  font-weight: 500;
  opacity: 0.7;
  margin: 0;
  margin-bottom: 4px;
}

.service-time__title {
  color: $dark_grey;
  font-size: 14px;
  font-weight: 500;
  opacity: 0.7;
  margin: 0;
  margin-bottom: 4px;
}

.service-type__name {
  color: $black;
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.2px;
}

.service-price__name {
  color: $black;
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.2px;
}

.service-time__name {
  color: $black;
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.2px;
}

.slide__service-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  @media (min-width: 768px) {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.service-time__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: $background-color_dark-pink;
  width: 119px;
  height: 32px;
  padding: 8px 12px 6px;
  border: none;
  border-radius: 50px;
  font-size: 12px;
  font-weight: 700;
  color: $white;
  text-transform: uppercase;
  -webkit-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

  svg {
    margin-bottom: 2px;

    path {
      fill: #FFF;
      -webkit-transition: fill 0.3s ease-in-out;
      transition: fill 0.3s ease-in-out;
    }
  }

  @media (min-width: 768px) {
    &:hover {
      cursor: pointer;
      background-color: #FFE0E9;
      color: #FF3E79;
      -webkit-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
      transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

      svg path {
        fill: #FF3E79;
      }
    }

    &:active {
      -webkit-box-shadow: 0 0 5px #FF3E79;
      box-shadow: 0 0 5px #FF3E79;
    }
  }
}

.prices__swiper-pagination {
  top: 210px !important;
}

.prices__subtitle {
  @media (min-width: 768px) {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 3.5fr 1fr 2fr;
    grid-template-columns: 3.5fr 1fr 2fr;
    color: #7E7E82;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    padding: 0 16px;
    margin-bottom: 16px;
    opacity: 0.7218;
  }
}

.prices__services-list {
  @media (min-width: 768px) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0;
    margin-bottom: 24px;
    border-radius: 6px;
    padding: 0 16px;
    background-color: #fff;
  }
}

.prices__services-item {
  @media (min-width: 768px) {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 3.5fr 1fr 2fr;
    grid-template-columns: 3.5fr 1fr 2fr;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 16px 0;

    &:not(:last-child) {
      border-bottom: 1px solid #EAEAEA;
    }
  }
}

.prices__descr {
  color: $black;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.2px;
  margin: 0;
  margin-bottom: 16px;

  @media (min-width: 768px) {
    max-width: 420px;
  }
}

.prices__offer-link {
  color: $black;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.2px;
  margin-bottom: 0;

  svg {
    vertical-align: middle;
  }
}

