/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 2 version
*/

@font-face {
  font-family: 'TTLakes';
  src: local('TTLakes-Light'),
    url('../fonts/TTLakes-Light.woff2') format('woff2'),
    url('../fonts/TTLakes-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TTLakes';
  src: local('TTLakes-Regular'),
    url('../fonts/TTLakes-Regular.woff2') format('woff2'),
    url('../fonts/TTLakes-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TTLakes';
  src: local('TTLakes-Medium'),
    url('../fonts/TTLakes-Medium.woff2') format('woff2'),
    url('../fonts/TTLakes-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TTLakes';
  src: local('TTLakes-Bold'),
    url('../fonts/TTLakes-Bold.woff2') format('woff2'),
    url('../fonts/TTLakes-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/*! VARIABLES */

:root {
  --header-default-height: 101px;
}


body {
  background-color: #F8F8F8;
  font-family: 'TTLakes', 'Nunito', 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
}

/*! HEADER  */

.page__header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100vw;
  height: var(--header-default-height);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 24px 16px;
  margin: 0 auto 24px;
  background-color: #fff;
  border-bottom: 1px solid #D9FFF5;
  z-index: 2;
}


.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  gap: 20px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  margin-right: 16px;
  background-color: #FF3E79;
}

.nav__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
}

/* отключаю обводку автофокуса на этих элементах */
.header__nav:focus,
.control-list__item:focus {
  outline: none;
}

.nav__line {
  width: 18px;
  height: 2px;
  background-color: #fff;
  border-radius: 1px;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.nav__line:nth-child(2n) {
  width: 10px;
}

.nav__line:last-child {
  width: 14px;
}


/*! анимирую поведение кнопки burger-button ----------------------------*/
/* #nav__toggle:checked+.nav__label .nav__line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

#nav__toggle:checked+.nav__label .nav__line:nth-child(2) {
  opacity: 0;
}

#nav__toggle:checked+.nav__label .nav__line:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
  width: 18px;
} */

/*! ------------------------------------------------------------- */


/*! стилизация САЙДБАРА ----------------------------------------- */
.nav__sidebar {
  position: fixed;
  top: 0;
  left: -350px;
  width: 320px;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 24px 16px;
  background-color: #fff;
  -webkit-box-shadow: 10px 0 25px 0px rgba(14, 24, 80, 0.20), 10px 0 8px 0px rgba(69, 79, 126, 0.02);
  box-shadow: 10px 0 25px 0px rgba(14, 24, 80, 0.20), 10px 0 8px 0px rgba(69, 79, 126, 0.02);
  z-index: 2;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}

.nav__sidebar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(248, 248, 248, 0.9);
  z-index: 1;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}

#nav__toggle:checked~.nav__sidebar {
  -webkit-transform: translateX(350px);
  transform: translateX(350px);
}

#nav__toggle:checked~.nav__sidebar-overlay {
  opacity: 1;
  pointer-events: visiblePainted;
}

.sidebar__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 24px;
}

.modal__close-btn.sidebar__close-btn {
  padding: 0;
  margin-bottom: 0;
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
}

.sidebar__logo {
  margin-left: 20px;
}

.sidebar__search-btn {
  padding: 0;
  margin-left: auto;
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
}

.sidebar__menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 24px;
  padding: 0;
  margin: 0;
  margin-bottom: auto;
}

.sidebar__menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sidebar__menu-item input:checked+label {
  position: relative;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #7E7E82;
}

.sidebar__menu-item input:checked+label::before {
  content: "";
  background-image: url('../img/icons/highlight-sidebar-default.svg');
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  width: 4px;
  height: 32px;
  left: -16px;
  top: -5px;
}

.sidebar__menu-tab {
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: -0.2px;
  color: #1B1C21;
}

.sidebar__menu-tab::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -16px;
  width: 0;
  height: 32px;
  background: url('../img/icons/highlight-sidebar-default.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

.sidebar__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.sidebar__control-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 16px;
  margin: 0;
  padding: 0;
  margin-bottom: 16px;
}

.sidebar__email {
  color: #1B1C21;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.2px;
  margin-bottom: 12px;
}

.sidebar__phone {
  color: #1B1C21;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.6px;
  margin-bottom: 40px;
}

.sidebar__lang-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  gap: 7px;
  margin: 0;
  padding: 0;
}

.sidebar__lang-label {
  color: #1B1C21;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.2px;
}

.sidebar__lang-item input:checked+label {
  color: #7E7E82;
}


/*! КОНЕЦ СТИЛИЗАЦИИ САЙДБАРА --------------------------------- */


.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 18px;
  margin-right: auto;
}

.header__logo::after {
  content: "";
  width: 2px;
  height: 32px;
  background-color: #EAEAEA;
  display: inline-block;
}

.header__control-list {
  display: none;
  margin: 0;
  padding: 0;
}

.header__service-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 16px;
  margin: 0;
  padding: 0;
}

.service-list__item {
  height: 40px;
}


/*?---------------PHONE MODAL------------------*/
.header__modal {
  position: fixed;
  top: 0;
  right: -330px;
  width: 320px;
  min-height: 100vh;
  padding: 30px 16px;
  margin: 0;
  border: none;
  background-color: #fff;
  -webkit-box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.20), -2px 0px 4px 0px rgba(69, 79, 126, 0.02);
  box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.20), -2px 0px 4px 0px rgba(69, 79, 126, 0.02);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}

.show {
  -webkit-transform: translateX(-330px);
  transform: translateX(-330px);
  z-index: 2;
}

.modal__title {
  position: relative;
  margin: 0;
  margin-bottom: 24px;
}

.modal__title::before {
  content: "";
  background-image: url('../img/icons/highlight.svg');
  background-size: contain;
  background-repeat: no-repeat;
  height: 40px;
  width: 4px;
  position: absolute;
  left: -16px;
  top: -9px;
  bottom: 0;
}

.modal__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 16px;
  color: #7E7E82;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}

.form__input {
  position: relative;
  width: 100%;
  height: 48px;
  border: 1px solid #EAEAEA;
  border-radius: 8px;
  padding: 16px 16px 12px;
}

.form__input::-webkit-input-placeholder {
  color: #B5B6BC;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.2px;
}

.form__input::-moz-placeholder {
  color: #B5B6BC;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.2px;
}

.form__input:-ms-input-placeholder {
  color: #B5B6BC;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.2px;
}

.form__input::-ms-input-placeholder {
  color: #B5B6BC;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.2px;
}

.form__input::placeholder {
  color: #B5B6BC;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.2px;
}

.form__input:focus {
  outline: 1px solid #FFE0E9;
}

.form-area {
  min-height: 116px;
  resize: none;
}

.form__descr {
  margin: 0;
}

.descr__pink {
  color: #FF3E79;
}

.form__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 136px;
  height: 32px;
  margin-left: auto;
  background-color: #FF3E79;
  padding: 6px 14px 4px 18px;
  border: none;
  border-radius: 16px;
  font-size: 12px;
  font-weight: 700;
  color: #FFF;
  text-transform: uppercase;
}

.form__btn svg {
  margin-bottom: 2px;
}

.modal__close-btn {
  margin-bottom: 40px;
  padding: 0;
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
}

.header__modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(248, 248, 248, 0.9);
  z-index: 1;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}

/*? ------------------------------------------ */


/*! MAIN  */

.page__main {
  padding: 0 16px;
  margin-bottom: 24px;
  overflow-x: hidden;
}

/*! SERVICES SECTION */

.services__title {
  position: relative;
  font-weight: 700;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -0.6px;
  color: #1B1C21;
  margin: 0;
  margin-bottom: 24px;
}

.services__title::before {
  content: "";
  background-image: url('../img/icons/highlight.svg');
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: -16px;
  right: 0;
  top: 0;
  bottom: 0;
}

.services__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  overflow-x: scroll;
  padding: 0;
  margin: 0;
  margin-bottom: 24px;
}

.services__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 2px solid transparent;
}

.services__list input[type="radio"]:checked+label {
  outline: 2px solid #B8FFEC;
  border-radius: 6px;
  background-color: #fff;
  color: #7E7E82;
  -webkit-animation: none;
  animation: none;
}

.services__tab {
  padding: 8px 16px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: -0.2px;
  color: #7E7E82;
}

.services__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 24px;
}

.services__text-block {
  margin-bottom: 24px;
}

.services__text-block,
.services__image-block,
.services__bg-video {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
}

.services__bg-image,
.services__bg-video {
  width: 100%;
  border-radius: 6px;
}

.services__descr {
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  color: #1B1C21;
}

.services__read-more,
.brands__read-more,
.technics__read-more {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  gap: 8px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: -0.2px;
  color: #1B1C21;
}

/* Показываю скрытую часть текста после активации чекбокса */
#show-more:checked~.services__descr--hidden-320 {
  display: block;
}

/* Меняю текст кнопки "Читать далее" на "Скрыть" после активации чекбокса */
#show-more:checked~.services__read-more::after {
  content: "Скрыть";
  padding-top: 2px;
}

/* Переворачиваю иконку кнопки "Скрыть" */
#show-more:checked~.services__read-more svg {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

/* Меняю текст кнопки на "Читать далее" при неактивном чекбоксе */
#show-more:not(:checked)~.services__read-more::after {
  content: "Читать далее";
  padding-top: 2px;
}

/*! REPAIR PAGE ///////////////////////////////////////////////////////////////////////////////// */

.repair__title-block {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: -webkit-gradient(linear, left top, right top, from(#F8F8F8), to(#FFFFFF));
  background: linear-gradient(to right, #F8F8F8, #FFFFFF);
  width: 100vw;
  height: 80px;
  margin-bottom: 16px;
  padding-right: 32px;
}

.repair__title-block::before {
  content: "";
  position: absolute;
  top: 0;
  left: -16px;
  width: 100vw;
  height: 2px;
  background-color: #D9FFF5;
}

.repair__title {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.2px;
  text-transform: uppercase;
  color: #7E7E82;
  margin: 0;
}

.repair__swiper-container {
  overflow: auto;
  position: relative;
  min-width: 288px;
  max-width: 100%;
  height: 114px;
  margin: 0 auto;
  margin-bottom: 24px;
}

.repair__swiper-container--various {
  overflow: auto;
  position: relative;
  min-width: 288px;
  max-width: 100%;
  height: 188px;
  margin: 0 auto;
  margin-bottom: 24px;
}

.repair__swiper-wrapper,
.repair__swiper-wrapper--various,
.prices__swiper-wrapper {
  margin: 0;
  padding: 0;
}

.swiper-pagination {
  position: fixed;
  --swiper-pagination-bullet-inactive-color: #9c9c9c;
  --swiper-theme-color: #B5B6BC;
  --swiper-pagination-bullet-width: 12px;
  --swiper-pagination-bullet-height: 12px;
  z-index: 1 !important;
}

.repair__swiper-pagination {
  top: 93px !important;
}

.repair__swiper-pagination--various {
  top: 170px !important;
}

/*!----------------- SWIPER PRICES ---------------------- */

.services__prices {
  margin-bottom: 40px;
}

.prices__swiper-container {
  overflow: auto;
  position: relative;
  width: 100%;
  height: 228px;
  margin: 0 auto;
  margin-bottom: 24px;
}

.swiper-wrapper .prices__swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  height: 200px;
  border-radius: 6px;
  background: #FFF;
  padding: 16px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.service-type__title,
.service-price__title,
.service-time__title {
  color: #7E7E82;
  font-size: 14px;
  font-weight: 500;
  opacity: 0.7;
  margin: 0;
  margin-bottom: 4px;
}

.service-type__name,
.service-price__name,
.service-time__name {
  color: #1B1C21;
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.2px;
}

.slide__service-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.service-time__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #FF3E79;
  width: 119px;
  height: 32px;
  padding: 8px 12px 6px;
  border: none;
  border-radius: 50px;
  font-size: 12px;
  font-weight: 700;
  color: #FFF;
  text-transform: uppercase;
  -webkit-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.service-time__button svg {
  margin-bottom: 2px;
}

.service-time__button svg path {
  fill: #FFF;
  -webkit-transition: fill 0.3s ease-in-out;
  transition: fill 0.3s ease-in-out;
}

.prices__swiper-pagination {
  top: 210px !important;
}

.prices__descr {
  color: #1B1C21;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.2px;
  margin: 0;
  margin-bottom: 16px;
}

.prices__offer-link {
  color: #1B1C21;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.2px;
  margin-bottom: 0;
}

.prices__offer-link svg {
  vertical-align: middle;
}

/*!-----------КОНЕЦ SWIPER PRICES ---------------------- */

.brands__block-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: repeat(3, 224px);
  grid-template-columns: repeat(3, 224px);
  -ms-grid-rows: 72px 16px 72px;
  grid-template-rows: repeat(2, 72px);
  row-gap: 16px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  margin-bottom: 24px;
}

.brands__block-wrapper>*:nth-child(1) {
  grid-row: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.brands__block-wrapper>*:nth-child(2) {
  grid-row: 1;
  grid-column: 2;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.brands__block-wrapper>*:nth-child(3) {
  grid-row: 1;
  grid-column: 3;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.brands__block-wrapper>*:nth-child(4) {
  grid-row: 3;
  grid-column: 1;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.brands__block-wrapper>*:nth-child(5) {
  grid-row: 3;
  grid-column: 2;
  -ms-grid-row: 3;
  -ms-grid-column: 2;
}

.brands__block-wrapper>*:nth-child(6) {
  grid-row: 3;
  grid-column: 3;
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.technics__block-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 160px;
  -ms-grid-columns: repeat(3, 224px);
  grid-template: 160px / repeat(3, 224px);
  row-gap: 16px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  margin-bottom: 24px;
}

.brands__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 16px;
  width: 224px;
  height: 72px;
  background: #FFFFFF;
  border: 1px solid #EAEAEA;
  border-radius: 6px;
}

.technics__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 16px;
  width: 224px;
  height: 160px;
  background: #FFFFFF;
  border: 1px solid #EAEAEA;
  border-radius: 6px;
}

.technics__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.technics__title {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1B1C21;
}

.technics__block img {
  max-width: 120px;
  height: 80px;
}

.repair__brands,
.repair__technics {
  display: none;
}

.tablet-block,
.width-768 {
  display: none;
}

/* Показываю скрытую часть блоков после активации чекбокса */
#brands__show-more:checked~.brands__block-wrapper .tablet-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* Меняю текст кнопки "Показать все" на "Скрыть" после активации чекбокса */
#brands__show-more:checked~.brands__read-more::after {
  content: "Скрыть";
  padding-top: 2px;
}

/* Переворачиваю иконку кнопки "Скрыть" */
#brands__show-more:checked~.brands__read-more svg {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

/* Меняю текст кнопки на "Показать все" при неактивном чекбоксе */
#brands__show-more:not(:checked)~.brands__read-more::after {
  content: "Показать все";
  padding-top: 2px;
}


/*! ----------------- FOOTER ------------------------- */

.page__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 16px;
  background: #F8F8F8;
  width: 100vw;
  padding: 16px 16px 20px;
  border-top: 2px solid #D9FFF5;
}

.footer__copiright,
.footer__policy,
.footer__disclaimer {
  color: #7E7E82;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  opacity: 0.7218;
  margin: 0;
}

.copiright__label {
  display: block;
}