@import './settings/variables';

@import './main/services';
@import './main/services__repair';
@import './main/repair__brands';
@import './main/repair__technics';
@import './main/services__prices';


.page__main {
  padding: 0 16px;
  margin-bottom: 24px;
  overflow-x: hidden;

  @media (min-width: 768px) {
    padding: 0 24px;
    margin: 0 auto 40px;
  }

  @media (min-width: 1025px) {
    padding: 0 32px;
  }
}