@import './settings/fonts';
@import './settings/variables';

@import 'page__header';
@import 'page__main';
@import 'page__footer';


body {
  background-color: $background-color_light-grey;
  font-family: $ttlakes;
  font-style: normal;
  font-weight: 400;
}